#intro {
  color: white;
  background-color: #3366cc;
  height: 100vh;
  position: relative;
}
.navbar, footer{
  margin-bottom: 0;
  border-radius: 0;
  background-color:	#3366ff;
}
.white {
  color: white;
}
.jumbotron {
  background:	#3366cc;
}
#name {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#work {
  text-align: center;
  background-color: #336699;
  padding-bottom: 20px;
}
.embedded {
  padding: 10px;
  margin: 10px;
}
.orange {
  background-color: #f05323;
}
.purple {
  background-color: #3b009d;
}
.darkPurple {
  background-color: #652e8e;
}
.embedded-1 {
  background-color: #647eff;
  padding: 10px;
  margin: 10px;
}
@media screen and (max-width: 767px) {
  img {
    max-width: auto;
  }
  body {
    /*overflow: auto;*/
    display: inline-block;
  }
  .row.content{height: auto;min-height: 100%}
}
#projects {
  text-align: center;
  background-color: #3333cc;
  padding: 20px;
}
#projects a{
  color: white;
}
#contact{
  text-align: center;
  background-color: #333399;
  padding: 10px;
}
.underline {
  text-decoration: underline;
}
#contact a {
  color: white;
}
figure {
  padding: 10px;
  margin: auto;
}
table {
  margin-left: auto;
  margin-right: auto;
}
img {
    max-width: 100%;
    height: auto;
}
