#intro {
  color: white;
  background-image: url("../img/network-background.jpg");
  position: relative;
}
.navbar, footer{
  margin-bottom: 0;
  border-radius: 0;
  background-color:	black;
  overflow: auto;
}

.white {
  color: white;
}
.jumbotron {
  background: #00ccff;
  opacity: 0.9;
}
#name {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#work {
  text-align: center;
  background-color: #00ccff;
  overflow: auto;
}
.embedded {
  background-color:   #3300cc;
  padding: 10px;
  margin: 10px;
}
.embedded-1 {
  background-color:   #0099ff;
  padding: 10px;
  margin: 10px;
}
@media screen and (max-width: 767px) {
  img {
    max-width: auto;
  }
  body {
    overflow: hidden;
    display: inline-block;
  }
  .row.content{height: auto;min-height: 100%}
}
#projects {
  text-align: center;
  background-color:  #0099cc;
}
#projects a{
  color: white;
}
#interests {
  text-align: center;
  background-color:  #0099cc;
}
#contact{
  text-align: center;
  background-color:  #0099cc;
}
.underline {
  text-decoration: underline;
}
#contact a {
  color: white;
}
figure {
  padding: 10px;
  margin: auto;
}
table {
  margin-left: auto;
  margin-right: auto;
}
