@bigblue: #3366cc;
@fuchsia: #996699;
@orange: #FF9900;
@lightyellow: #FFFF99;
@shutterflyorange: #F05323;
@yahoopurple: #3B009D;
@zenbanxpurple: #652E8E;
#intro {
  color: white;
  background-color: @bigblue;
  height: 100vh;
  position: relative;
}
.navbar, footer{
  margin-bottom: 0;
  border-radius: 0;
  background-color:	@fuchsia;
}
.white {
  color: white;
}
a.page-scroll.white:hover {
  background-color:  @lightyellow;
}
.jumbotron {
  background:	@bigblue;
}
#name {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#work {
  text-align: center;
  background-color: @orange;
  padding-bottom: 20px;
}
.embedded {
  padding: 10px;
  margin: 10px;
}
.orange {
  background-color: @shutterflyorange;
}
.purple {
  background-color: @yahoopurple;
}
.darkPurple {
  background-color: @zenbanxpurple;
}
.embedded-1 {
  background-color: #7ABA7A;
  .embedded
}
@media screen and (max-width: 767px) {
  img {
    max-width: auto;
  }
  body {
    display: inline-block;
  }
  .row.content{height: auto;min-height: 100%}
}
p, figcaption, h2, h1{
  font-family: 'Abel', serif;
}
h2, h1 {
  font-weight: bolder;
}
#projects {
  text-align: center;
  background-color: #097054;
  padding: 20px;
  a{
    color: white;
  }
}
.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #7ABA7A;
  overflow: hidden;
  opacity: 0.8;
  width: 100%;
  height: 0;
  transition: .4s linear;
}

a:hover .overlay {
  bottom: 0;
  height: 100%;
}
.text {
  white-space: nowrap;
  color: white;
  font-size: 3vh;
  position: absolute;
  overflow: hidden;
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#contact{
  text-align: center;
  background-color: #B76EB8;
  padding: 10px;
  a {
    color: white;
  }
}
.spaced {
  margin-top: 5vh;
  padding: 5px;
}
figure {
  padding: 10px;
  margin: auto;
}
img {
    max-width: 100%;
    height: auto;
    padding: 4vh;
}
.icon {
  font-size: 4vh;
  padding: 10px;
  transition: font-size 1s;
  margin-bottom: 5vh;
  margin-top: 10vh;
  color: white;
}
.icon:hover {
  font-size: 7vh;
  color: black;
}
footer {
  text-align: center;
}
